.login{
     font-family:Candara;
}
.circle{
    color:#29B6F6;
    font-family:Candara;
}
.circles{
    color:#81D4FA;
    
}
.card-title{
	color:#0288D1 ;
}
a:hover{
	text-decoration: none;
}
.success{
	background-color:#E8F5E9;
	color:#2E7D32;
	padding:5px;
	border-radius: 4px;
	border: 1px solid;
}
.error{
	background-color:#FFEBEE;
	color:#D50000;	
	padding:5px;
	border-radius: 4px;
	border: 1px solid;
}
h4.my-4{
	text-align: center;
}
/* Style The Dropdown Button */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}


